
body,ul,p,h1,h2,h3,h4,dl,dd,form,input,textarea,select { padding:0; margin:0; font-family:arial; }
li { list-style:none; }
img { border:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
.clear:after { content:''; display:block; clear:both; }

body { background:#fff url(images/body_bg.png) repeat-x; }

#top{border:0px solid red;width:960px;height:30px;margin:0 auto;}

.top_menu{float:left;}
.top_menu li {border:0px solid red;float:left; background:url(images/top_bg.gif) no-repeat right 14px;font-size:15px;line-height:30px;margin-right:15px;padding-right:18px;}
.top_menu a {color:#c0c0c0;}
.top_menu a:hover{color:#fff;}
.top_menu .no_dot{background:none;}


.top_bar{float:right;}
.top_bar li{color:#fff;font-weight:bold;font-size:15px;margin-right:14px;border:0px solid red;float:left;line-height:30px;}
.top_bar .phone{margin-right:25px;padding-left:30px;background:url(images/top_bg.gif) no-repeat left -12px;}
.top_bar .help{margin-right:25px;padding-left:40px;background:url(images/top_bg.gif) no-repeat left -43px;}
.top_bar a{color:#c0c0c0;}
.top_bar a:hover{color:#fff;}



#header{border:0px solid red;width:960px;height:100px;margin:0 auto;position:relative;background:url(images/header_bg.png) no-repeat center;}

#shopping{ border:0px solid red;width:260px;height:100px;background:url(./images/ie6/shopping_bg.gif) no-repeat left   0px;}

#shopping p{border:0px solid red;padding:28px  0 0 75px;font-size:20px;font-weight:bold;font-family:Arial;color:#f7f7f7;}

#shopping a{border:0px solid red;background:url(./images/ie6/shopping_a.png) no-repeat ;position:absolute; top:64px; left:98px; 
width:114px;height:23px;font-size:15px;font-weight:bold;font-family:Arial;color:#ffc200;text-align:center;padding-top:2px;}

#shopping a:hover{color:#ff9;text-decoration:none;}

#header h1{border:0px solid red;width:238px;position:absolute;left:360px;top:0px;}


#header .search{position:absolute; top:33px; left:660px;width:294px;height:33px;}

.search{border:0px solid red;background:url(images/ico.png) no-repeat 0 -115px;}

.search .text{position:absolute;top:0;left:20px;width:228px;height:30px;background:none;border:none;font-size:13px;outline:none;}

.search .button{position:absolute;top:0;right:1px;width:42px;height:30px;background:none;border:none;}


#nav{border:0px solid red;width:960px;height:36px;padding-top:8px;margin:0 auto;}

#nav li{border:0px solid red;float:left;height:28px;line-height:28px;margin-right:2px;}

#nav a{border:0px solid red;float:left;height:28px;text-decoration:none;color:#fff;font-size:16px;font-family:Arial;font-weight:normal; }
  
#nav strong{float:left;height:28px;}

#nav span{float:left;height:28px;padding:0 14px;}

#nav  a:hover ,#nav  .active {background:url(images/nav_bg.png) repeat-x -28px;}
#nav  a:hover   strong,#nav .active strong{background:url(images/nav_bg.png) no-repeat;}
#nav  a:hover span,#nav .active span{background:url(images/nav_bg.png) no-repeat right -58px;}


#content{border:0px solid red;width:1000px;margin:23px auto;background:url(images/content_bg.png) repeat-y -2000px 0;}


#content_top{background:url(images/content_bg.png) no-repeat;}


#content_bottom{background:url(images/content_bg.png) no-repeat -1000px bottom  ;padding:10px 30px 0;}

#ad{border:0px solid red;width:940px;height:300px;position:relative;}

#ad ul{position:absolute;top:0;left:0;z-index:1;}

#ad li{position:absolute;top:0;left:0;}

#ad h2{position:absolute;bottom:11px;left:35px;z-index:3;font-size:25px;color:#ffc600;}

#ad p{position:absolute;bottom:13px;left:268px;z-index:3;color:#fcc;font-size:13px;width:632px}

#ad .bg{width:940px;height:52px;background:#000;filter:alpha(opacity:80);opacity:0.8;position:absolute;bottom:0;left:0;z-index:2;}


#main{border:0px solid red;width:938px;margin:30px auto;}

#side{border:0px solid red;width:210px;float:left;}

 .module{width:212px;height:374px;}

 .module h2{border:0px solid red;width:210px;height:28px;background:url(images/module_menu_h2_bg.png) repeat-x 0 -59px;font-size:15px;font-weight:normal;text-align:center;line-height:28px;color:#fff;margin-bottom:1px;}

 .module h2 strong{border:0px solid red;display:block;height:28px;background:url(images/module_menu_h2_bg.png) no-repeat   left -30px ;}

 .module h2 strong span{border:0px solid red;display:block;height:28px;background:url(images/module_menu_h2_bg.png) no-repeat right -1px   ;}



#wrap{border:0px solid red;width:706px;float:right;}

.clear{zoom:1;}
.clear:after{content:"";display:block;clear:both;}

.list{border:0px solid red;background:url(images/list_bg.png) repeat-y ;}

.list ul{border:0px solid red;background:url(images/list_bottom.png) no-repeat -0.5px bottom  ;padding:16px 8px 20px;}

.list li{border:0px solid red;}

.list  a{display:block;height:27px;line-height:27px;border-bottom:1px solid #fff;color:#434343;text-decoration:none;font-weight:bold;font-size:12px;text-indent:32px;}

.list a:hover{color:#b20e00;border-bottom:1px solid #b20e00; background:#fae191;}


.module_join{border:0px solid red;width:210px;height:324px;background:url(images/wrap_bg.gif) repeat-y -630px 0;margin-top:12px;margin-bottom:30px;}

.module_join_top{border:0px solid red;height:324px;background:url(images/wrap_bg.gif) no-repeat -420px 0;}

.module_join_bottom{border:0px solid red;height:324px;background:url(images/wrap_bg.gif) no-repeat -840px bottom;}

.Join_form{width:180px;margin:0 auto;}

.Join_form p{font-size:15px;color:#666;line-height:18px;padding:10px 0;}

.Join_form .text{width:175px;height:25px;line-height:25px;background:#fff;border:1px solid #fff;border-top:1px solid #9c9c9c;border-left:1px solid #c0c0c0;margin-bottom:8px;}
 
 .Join_form .button{border:0px solid green;width:88px;height:25px;font-size:15px;color:#fff;font-weight:bold;background:url(images/wrap.png) no-repeat ;color:#fff;margin:0 auto;display:block;}

 .Join_list{width:192px;height:208px;margin:0 auto;background:url(images/ico.png) no-repeat 10px -172px; margin-top:10px;}

 .Join_list li{border-top:1px solid #fff; padding-left:62px;color:#434343;font-size:13px;}

.space1{height:45px;line-height:45px;}

.space2{height:45px;padding-top:5px;line-height:18px;}

.space3{height:45px;padding-top:5px;line-height:18px;}


.alertpay{text-align:center};

.alertpay a{padding-bottom:20px;}



.sort{height:20px;}

.sort dl{float:left;}

.sort dt{float:left;color:#747474;font-size:12px;font-weight:bold;margin-right:-10px;line-height:20px;}

.sort dd{float:left;position:relative;width:107px;height:19px;position:relative;margin-left:12px;}

.sort h2{width:108px;height:17px;border:1px solid #ccc;font-size:12px;color:#747474;font-weight:normal;text-indent:5px;line-height:17px;}

.sort a{border:0px solid red;position:absolute;top:0;left:90px;width:19px;height:19px;background:url(images/ico.png) no-repeat 0 -381px;z-index:2;}

.sort a:hover{background:url(images/sort.png); }

.sort ul{width:108px;border:1px solid #ccc;background:#fff;position:absolute;top:20px;left:2px;z-index:1;display:none;}

.sort li{font-size:12px;line-height:20px;text-indent:5px;cursor:pointer;}

.sort .active{background:background:#999;color:#fff;}

.sort p{float:right;color:#747474;font-size:12px;}

.sort  p strong{color:#999;}

.sort p span {padding:0 3px;}

.color_style{color:#b20e00;}


.pic_list{width:706px;overflow:hidden;}

.pic_list h2{color:#666;font-size:18px;height:56px;overflow:hidden;line-height:68px;}

.pic_list ul{float:left;border:0px solid red;width:736px;}

.pic_list li{float:left;width:182px;height:188px;}

.pic_list a{display:block;width:154px;height:114px;border:1px solid #c6c6c6;margin-bottom:6px;}

.pic_list a:hover{border:1px solid #663;}

.pic_list h3{color:#666;font-size:15px;line-height:16px;}

.pic_list p{font-size:13px;color:#333;line-height:16px;}

.pic_list span{color:#b20e00;}


.page{text-align:center;border-bottom:1px solid #cdcdc8;}

.page a{height:20px;display:inline-block;padding:0 6px;color:#b20e00;text-decoration:none;font-size:12px;line-height:20px;margin-bottom:5px;padding:0 10px;}

.span span{font-family:'ו';}

.page a:hover, .page .active{color:#fff;background:#b20e00;}


.title { font-size:18px; color:#666; line-height:30px;margin-top:14px }

.scroll_wrap{border:0px solid red;height:196px;background:url(images/scroll_bg.png) repeat-x 0 -394px;}



.scroll_wrap_l{border:0px solid red;height:196px;background:url(images/scroll_bg.png) no-repeat left -197px;}

.scroll_wrap_r{border:0px solid red;height:196px;background:url(images/scroll_bg.png) no-repeat right 0px;position:relative;}

.prev,.next{width:35px;height:43px;position:absolute;}

.prev{background:url(images/ico.png) no-repeat  left -400px;top:74px;}

.next{border:0px solid red;background:url(images/ico.png) no-repeat    -36px -400px ;top:74px;left:670px;}




.list_wrap {width:615px;margin:0 auto;padding-top:32px;}

.list_wrap ul{float:left;height:150px;}

.list_wrap li{float:left;width:205px;}

.list_wrap a,.list_wrap p{width:145px;margin:0 auto;}

.list_wrap a{display:block;height:100px;}

.list_wrap a:hover{border:1px solid #663;}

.list_wrap p{font-size:12px;padding:12px;color:#600;line-height:14px;text-align:center;}

#footer{height:304px;background:url(images/footer_bg.png) repeat-x 0 2px;position:relative;}

.footer_center{border:0px solid red;width:960px;height:300px;margin:0 auto; position:relative;}

.footer_top{border:0px solid green;height:62px;}

.footer_top ul{float:left;margin-left:10px;}

.footer_top li{float:left;}

.footer_top .ico1{border:0px solid red;background:url(images/ico.png) no-repeat 0 -443px;text-indent:62px;}

.footer_top .ico2{margin-left:20px;border:0px solid red;background:url(images/ico.png) no-repeat 0 -503px;text-indent:50px;}

.footer_top p{font-size:14px;color:#cbcbcb;font-weight:bold;line-height:60px;}

 .bottom_search{position:absolute; top:16px; left:660px;width:294px;height:31px;}

.bottom_search{border:0px solid red;background:url(images/ico.png) no-repeat 0 -116px; }

.bottom_search .text{position:absolute;top:0;left:20px;width:228px;height:30px;background:none;border:none;font-size:13px;outline:none;}

.bottom_search .button{position:absolute;top:0;right:1px;width:42px;height:30px;background:none;border:none;}

#footer_bottom{width:920px;margin:0 auto;overflow:hidden;padding-top:10px;}

 #footer_bottom dl{float:left;width:184px;}

 #footer_bottom dt{font-size:15px;color:#fff;font-weight:bold;line-height:50px;}

 #footer_bottom dd{line-height:20px;}

 #footer_bottom a{font-size:14px;color:#cfcfcf;}

#footer_bottom .123 a{position:absolute;right:0px;bottom:0px}

#footer_bottom .pos{position:relative;left:-20px;}